In [13]:
import pandas as pd
import numpy as np

In [14]:
StandardPop= pd.read_csv('Dataset/Population estimates as of January 1 in thousands 2019.csv')
StandardPop.head()
#Replace the column names for easier access
StandardPop = StandardPop.rename(columns={'Region, subregion, country or area *': 'Country'})

StandardPop.head()

,Country,Year,"Total Population, as of 1 January (thousands)"
0,Uganda,2019,42212
1,United States of America,2019,333251

In [15]:
COPD = pd.read_csv('Dataset/agespecific death rates for COPD.csv')

# This Tool changes the column1:row 1 to the right format as it was not in the right format in excel(showing as a date).
COPD.loc[1, 'Age group (years)'] = '5-9'
COPD = COPD.rename(columns={'Death rate, United States, 2019': 'United States of America'})
COPD = COPD.rename(columns={'Death rate, Uganda, 2019': 'Unganda'})
COPD['COPDUs'] = None
COPD['COPDUg'] = None
COPD.head()

  Age group (years)  United States of America  Unganda COPDUs COPDUg
0               0-4                      0.04     0.40   None   None
1               5-9                      0.02     0.17   None   None
2              0-14                      0.02     0.07   None   None
3             15-19                      0.02     0.23   None   None
4             20-24                      0.06     0.38   None   None

In [20]:
#Total Death Rate in the United States
total_death_rate_USA = COPD['United States of America'].sum()
total_death_rate_USA

2164.74

In [19]:
#Total Death Rate in the Uganda
total_death_rate_Uganda = COPD['Unganda'].sum()
total_death_rate_Uganda

2058.62

In [25]:


# BEGIN: CrudeDeathRateUganda function 
def CrudeDeathRateUSA(total_death_rate_USA):
    x = total_death_rate_USA/333251
    y = x*100000
    return round(y, 1)  # round to 1 decimal place

CrudeDeathRateUSA(total_death_rate_USA)
# END: CrudeDeathRateUganda function

649.6

In [27]:
# BEGIN: CrudeDeathRateUganda function modification
def CrudeDeathRateUganda(total_death_rate_Uganda):
    x = total_death_rate_Uganda/42212
    y = x*100000
    return round(y, 1)  # round to 1 decimal place

CrudeDeathRateUganda(total_death_rate_Uganda)
# END: CrudeDeathRateUganda function modification

4876.9