In [125]:
import pandas as pd
import numpy as np

In [127]:
#Read and Modify COPD data
def read_and_modify_COPD() -> pd.DataFrame:
    """
    This function reads COPD data from a specific CSV file, modifies the 'Age group (years)' column,
    and returns it as a pandas DataFrame.
    
    Returns:
        A pandas DataFrame containing the modified COPD data.
    """
    COPD = pd.read_csv('Dataset/agespecific death rates for COPD.csv')
    COPD.loc[1, 'Age group (years)'] = '5-9'
    COPD.loc[2, 'Age group (years)'] = '10-14'
    return COPD

# Function Call
read_and_modify_COPD()


#Rename COPD columns

def Rename_COPD() -> pd.DataFrame:
    """
    This function renames the columns 'Death rate, United States, 2019' and 'Death rate, Uganda, 2019' to 'United States of America' and 'Uganda' respectively.

    Returns:
        A pandas DataFrame containing the modified COPD data.
    """
    COPD = read_and_modify_COPD()
    COPD = COPD.rename(columns={'Death rate, United States, 2019': 'United States of America'})
    COPD = COPD.rename(columns={'Death rate, Uganda, 2019': 'Uganda'})
    return COPD

# Function Call
Rename_COPD()

   Age group (years)  United States of America  Uganda
0                0-4                      0.04    0.40
1                5-9                      0.02    0.17
2              10-14                      0.02    0.07
3              15-19                      0.02    0.23
4              20-24                      0.06    0.38
5              25-29                      0.11    0.40
6              30-34                      0.29    0.75
7              35-39                      0.56    1.11
8              40-44                      1.42    2.04
9              45-49                      4.00    5.51
10             50-54                     14.13   13.26
11             55-59                     37.22   33.25
12             60-64                     66.48   69.62
13             65-69                    108.66  120.78
14             70-74                    213.10  229.88
15             75-79                    333.06  341.06
16             80-84                    491.10  529.31
17               85+                    894.45  710.40

In [128]:
#Total Death Rate in the United States
def total_death_rate_USA() -> float:
    """
    This function calculates the total death rate in the United States.

    Returns:
        A float representing the total death rate in the United States.
    """
    COPD = Rename_COPD()
    total_death_rate_USA = COPD['United States of America'].sum()
    return total_death_rate_USA

total_death_rate_USA()

2164.74

In [129]:
#Total Death Rate in the Uganda
def total_death_rate_Uganda() -> float:
    """
    This function calculates the total death rate in Uganda.

    Returns:
        A float representing the total death rate in Uganda.
    """
    COPD = Rename_COPD()
    total_death_rate_Uganda = COPD['Uganda'].sum()
    return total_death_rate_Uganda

# Function Call
total_death_rate_Uganda()

2058.62

In [130]:

def crude_death_rate_Uganda(total_death_rate_Uganda: float) -> float:
    """
    This function calculates the crude death rate in Uganda.

    Args:
            total_death_rate_Uganda: A float representing the total death rate in Uganda.

            Estimated_Population: A float representing the estimated population in Uganda as of july 1, 2019. Source: 
            from UN World Population Prospects (2022) â€” Population Estimates 1950-2021.

    Returns:
        A float representing the crude death rate in Uganda scaled to deaths per 100,000 people.
    """
    Estimated_Population = 42949.08
    return (total_death_rate_Uganda / Estimated_Population) * 100000


# BEGIN: CrudeDeathRateUganda function call
rounded_result = round(crude_death_rate_Uganda(total_death_rate_Uganda()), 1) 
rounded_result

4793.2

In [131]:

def crude_death_rate_USA(total_death_rate_USA: float) -> float:
    """
    This function calculates the crude death rate in USA.

    Args:
            total_death_rate_USA: A float representing the total death rate in Uganda.

            Estimated_Population: A float representing the estimated population in USA as of july 1, 2019. Source: 
            from UN World Population Prospects (2022) â€” Population Estimates 1950-2021.

    Returns:
        A float representing the crude death rate in USA scaled to deaths per 100,000 people.
    """
    Estimated_Population = 334319.671
    return (total_death_rate_USA / Estimated_Population) * 100000


# BEGIN: CrudeDeathRateUSA function call
rounded_result = round(crude_death_rate_USA(total_death_rate_USA()), 1) 
rounded_result

647.5

In [132]:
def read_and_modify_World() -> pd.DataFrame:
    """
    This function reads the WHO World Standard Population Distribution (%)from the standard population distribution
    CSV file, and modifies the 'Age group' column, and returns it as a pandas DataFrame.

    Source: Ahmad, Omar Ben & Boschi Pinto, Cynthia & Lopez, A.D.. (2001).
    Age Standardization of Rates: A New WHO Standard. GPE Discussion Paper Series: No 31. 10-12. 
    
    Returns:
        A pandas DataFrame containing the modified Rename data.
    """
    Worldavg = pd.read_csv('Dataset\Standard Population distrubution.csv')
    Worldavg .loc[1, 'Age Group'] = '5-9'
    Worldavg .loc[2, 'Age Group'] = '10-14'
    return Worldavg 

# Function Call
read_and_modify_World()

   Age Group  World Average
0        0-4          8.860
1        5-9          8.690
2      10-14          8.600
3      15-19          8.470
4      20-24          8.220
5      25-29          7.930
6      30-34          7.610
7      35-39          7.150
8      40-44          6.590
9      45-49          6.040
10     50-54          5.370
11     55-59          4.550
12     60-64          3.720
13     65-69          2.960
14     70-74          2.210
15     75-79          1.520
16     80-84          0.910
17       85+          0.635

In [133]:
#Join the two datasets
def join_dataset() -> pd.DataFrame:
    """
    This function joins the World Standard Population Distribution (%) and the COPD data
    and returns it as a pandas DataFrame.

    Returns:
        A pandas DataFrame containing the joined data with the age group from the COPD droped.
    """
    merged_df = pd.merge(read_and_modify_World(), Rename_COPD(), how='inner', left_on='Age Group', right_on='Age group (years)')
    merged_df = merged_df.drop('Age group (years)', axis=1)
    return merged_df
join_dataset()

   Age Group  World Average  United States of America  Uganda
0        0-4          8.860                      0.04    0.40
1        5-9          8.690                      0.02    0.17
2      10-14          8.600                      0.02    0.07
3      15-19          8.470                      0.02    0.23
4      20-24          8.220                      0.06    0.38
5      25-29          7.930                      0.11    0.40
6      30-34          7.610                      0.29    0.75
7      35-39          7.150                      0.56    1.11
8      40-44          6.590                      1.42    2.04
9      45-49          6.040                      4.00    5.51
10     50-54          5.370                     14.13   13.26
11     55-59          4.550                     37.22   33.25
12     60-64          3.720                     66.48   69.62
13     65-69          2.960                    108.66  120.78
14     70-74          2.210                    213.10  229.88
15     75-79          1.520                    333.06  341.06
16     80-84          0.910                    491.10  529.31
17       85+          0.635                    894.45  710.40

In [134]:

def age_standardized_rate() -> pd.DataFrame:
    """
    This function calculates the age-standardized rate for Uganda and USA.

    Returns:
        A pandas DataFrame containing the age-standardized rate for Uganda and USA.
    """
    Finaldata = join_dataset()
    Finaldata.loc[:, 'USA - Age-standardized rate'] = join_dataset()['United States of America'] * join_dataset()['World Average']#ages-andardized rate
    Finaldata.loc[:, 'Uganda - Age-standardized rate'] = join_dataset()['Uganda'] * join_dataset()['World Average']
    
    # Round the 'USA - Age-standardized rate' and 'Uganda - Age-standardized rate' columns
    Finaldata['USA - Age-standardized rate'] = round(Finaldata['USA - Age-standardized rate'], 1)
    Finaldata['Uganda - Age-standardized rate'] = round(Finaldata['Uganda - Age-standardized rate'], 1)
    
    return Finaldata

age_standardized_rate()

,Age Group,World Average,United States of America,Uganda,USA - Age-standardized rate,Uganda - Age-standardized rate
0,0-4,8.860,0.04,0.40,0.4,3.5
1,5-9,8.690,0.02,0.17,0.2,1.5
2,10-14,8.600,0.02,0.07,0.2,0.6
3,15-19,8.470,0.02,0.23,0.2,1.9
4,20-24,8.220,0.06,0.38,0.5,3.1
5,25-29,7.930,0.11,0.40,0.9,3.2
6,30-34,7.610,0.29,0.75,2.2,5.7
7,35-39,7.150,0.56,1.11,4.0,7.9
8,40-44,6.590,1.42,2.04,9.4,13.4
9,45-49,6.040,4.00,5.51,24.2,33.3
10,50-54,5.370,14.13,13.26,75.9,71.2
11,55-59,4.550,37.22,33.25,169.4,151.3
12,60-64,3.720,66.48,69.62,247.3,259.0
13,65-69,2.960,108.66,120.78,321.6,357.5
14,70-74,2.210,213.10,229.88,471.0,508.0
15,75-79,1.520,333.06,341.06,506.3,518.4
16,80-84,0.910,491.10,529.31,446.9,481.7
17,85+,0.635,894.45,710.40,568.0,451.1